fastapi
uvicorn
langchain
langchain-community
langchain-ollama
langchain-chroma
pydantic
python-dotenv
pytesseract
pillow
PyPDF2
duckduckgo-search
sqlalchemy
psycopg2-binary
beautifulsoup4
markdownify
requests
langchain-text-splitters
python-multipart
langchain-openai
langchain-google-genai
